@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
} 

body {
  /*display: flex;*/
  justify-content: center;       /*horizontal center */
  align-items: center;           /*vertical center */
  background: linear-gradient(180deg, #0B132B 0%, #111C44 50%, #1A234D 80%);   /*page background */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Roboto',sans-serif;
}


button {
  background: linear-gradient(180deg, #00C6FB 0%, #0096FF 100%);     /*button background */
  color: #fff;                  /* text color */
  border: 2px solid #2563EB;   /*button border */
  padding: 12px 12px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;

  display: inline-flex;
  justify-content: center;
  align-items: center;

}

button:hover {
  transform: translateY(-1px) scale(1.03);

  /* lysere gradient på hover */
  background: linear-gradient(180deg, #19D2FF 0%, #0AA2FF 100%);
}

